In [1]:
!pip install requests
!pip install html5lib 
!pip install bs4

Requirement already satisfied: requests in c:\users\pablo\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pablo\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pablo\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pablo\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\pablo\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: html5lib in c:\users\pablo\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\pablo\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\pablo\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: bs4 in c:\users\pablo\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\pablo\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\pablo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)

In [64]:
import html5lib
import requests
import pandas as pd
from bs4 import BeautifulSoup

req = requests.get('https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/')

if req.status_code == 200:
    print('Página disponível')
    conteudo = req.content
    soup = BeautifulSoup(conteudo, 'html.parser')
    tabela = soup.find("article",{"class":"freecontent__content", "itemprop":"articleBody"})
    tabela_str = str(tabela)
    df = pd.read_html(tabela_str)
    display(df)

Página disponível

[    Times  Times.1                 Times.2  Times.3   P   J   V   E   D  GP  \
 0       1      NaN            Palmeiras >>      NaN  48  22  14   6   2  37
 1       2      NaN          Corinthians >>      NaN  39  22  11   6   5  26
 2       3      NaN           Fluminense >>      NaN  38  21  11   5   5  32
 3       4      NaN         Athletico-PR >>      NaN  38  22  11   5   6  28
 4       5      NaN             Flamengo >>      NaN  37  22  11   4   7  32
 5       6      NaN          Atlético-MG >>   Subiu1  35  22   9   8   5  30
 6       7      NaN        Internacional >>  Desceu1  33  21   8   9   4  30
 7       8      NaN           Bragantino >>      NaN  30  22   8   6   8  32
 8       9      NaN               Santos >>      NaN  30  21   7   9   5  26
 9      10      NaN            São Paulo >>   Subiu1  29  22   6  11   5  29
 10     11      NaN           América-MG >>  Desceu1  27  21   8   3  10  17
 11     12      NaN             Botafogo >>      NaN  26  22   7   5  10  20
 12     13      NaN                Goiás >>      NaN  26  22   6   8   8  23
 13     14      NaN                Ceará >>      NaN  25  22   5  10   7  22
 14     15      NaN            Fortaleza >>   Subiu2  24  22   6   6  10  20
 15     16      NaN               Cuiabá >>   Subiu2  23  22   6   5  11  15
 16     17      NaN                 Avaí >>  Desceu1  23  22   6   5  11  23
 17     18      NaN             Coritiba >>  Desceu3  22  22   6   4  12  23
 18     19      NaN  Atlético Goianiense >>      NaN  21  22   5   6  11  21
 19     20      NaN            Juventude >>      NaN  16  22   3   7  12  16

     GC  SG   %
 0   14  23  72
 1   21   5  59
 2   22  10  60
 3   22   6  57
 4   19  13  56
 5   26   4  53
 6   23   7  52
 7   26   6  45
 8   19   7  47
 9   27   2  43
 10  23  -6  42
 11  26  -6  39
 12  29  -6  39
 13  23  -1  37
 14  23  -3  36
 15  22  -7  34
 16  35 -12  34
 17  34 -11  33
 18  33 -12  31
 19  35 -19  24  ]

In [65]:
dfs = df[0]
# Extraindo colunas                                                                                                          
df2 = dfs[['Times','Times.2','P', 'J','V','E','D','GP','GC','SG','%', 'Times.3']]
print(df2)

    Times                 Times.2   P   J   V   E   D  GP  GC  SG   %  Times.3
0       1            Palmeiras >>  48  22  14   6   2  37  14  23  72      NaN
1       2          Corinthians >>  39  22  11   6   5  26  21   5  59      NaN
2       3           Fluminense >>  38  21  11   5   5  32  22  10  60      NaN
3       4         Athletico-PR >>  38  22  11   5   6  28  22   6  57      NaN
4       5             Flamengo >>  37  22  11   4   7  32  19  13  56      NaN
5       6          Atlético-MG >>  35  22   9   8   5  30  26   4  53   Subiu1
6       7        Internacional >>  33  21   8   9   4  30  23   7  52  Desceu1
7       8           Bragantino >>  30  22   8   6   8  32  26   6  45      NaN
8       9               Santos >>  30  21   7   9   5  26  19   7  47      NaN
9      10            São Paulo >>  29  22   6  11   5  29  27   2  43   Subiu1
10     11           América-MG >>  27  21   8   3  10  17  23  -6  42  Desceu1
11     12             Botafogo >>  26  22   7   5  10  20  26  -6  39      NaN
12     13                Goiás >>  26  22   6   8   8  23  29  -6  39      NaN
13     14                Ceará >>  25  22   5  10   7  22  23  -1  37      NaN
14     15            Fortaleza >>  24  22   6   6  10  20  23  -3  36   Subiu2
15     16               Cuiabá >>  23  22   6   5  11  15  22  -7  34   Subiu2
16     17                 Avaí >>  23  22   6   5  11  23  35 -12  34  Desceu1
17     18             Coritiba >>  22  22   6   4  12  23  34 -11  33  Desceu3
18     19  Atlético Goianiense >>  21  22   5   6  11  21  33 -12  31      NaN
19     20            Juventude >>  16  22   3   7  12  16  35 -19  24      NaN

In [66]:
df2

    Times                 Times.2   P   J   V   E   D  GP  GC  SG   %  Times.3
0       1            Palmeiras >>  48  22  14   6   2  37  14  23  72      NaN
1       2          Corinthians >>  39  22  11   6   5  26  21   5  59      NaN
2       3           Fluminense >>  38  21  11   5   5  32  22  10  60      NaN
3       4         Athletico-PR >>  38  22  11   5   6  28  22   6  57      NaN
4       5             Flamengo >>  37  22  11   4   7  32  19  13  56      NaN
5       6          Atlético-MG >>  35  22   9   8   5  30  26   4  53   Subiu1
6       7        Internacional >>  33  21   8   9   4  30  23   7  52  Desceu1
7       8           Bragantino >>  30  22   8   6   8  32  26   6  45      NaN
8       9               Santos >>  30  21   7   9   5  26  19   7  47      NaN
9      10            São Paulo >>  29  22   6  11   5  29  27   2  43   Subiu1
10     11           América-MG >>  27  21   8   3  10  17  23  -6  42  Desceu1
11     12             Botafogo >>  26  22   7   5  10  20  26  -6  39      NaN
12     13                Goiás >>  26  22   6   8   8  23  29  -6  39      NaN
13     14                Ceará >>  25  22   5  10   7  22  23  -1  37      NaN
14     15            Fortaleza >>  24  22   6   6  10  20  23  -3  36   Subiu2
15     16               Cuiabá >>  23  22   6   5  11  15  22  -7  34   Subiu2
16     17                 Avaí >>  23  22   6   5  11  23  35 -12  34  Desceu1
17     18             Coritiba >>  22  22   6   4  12  23  34 -11  33  Desceu3
18     19  Atlético Goianiense >>  21  22   5   6  11  21  33 -12  31      NaN
19     20            Juventude >>  16  22   3   7  12  16  35 -19  24      NaN

In [67]:
#removendo o ultimo caracter da ultima coluna, pois não quero manter a qtd de posições que o time se movimentou em relação a odada passada

df2['Movimentacao'] = df2['Times.3'].str[:-1]

df2.drop('Times.3', axis=1, inplace=True)
df2

,Times,Times.2,P,J,V,E,D,GP,GC,SG,%,Movimentacao
0,1,Palmeiras >>,48,22,14,6,2,37,14,23,72,NaN
1,2,Corinthians >>,39,22,11,6,5,26,21,5,59,NaN
2,3,Fluminense >>,38,21,11,5,5,32,22,10,60,NaN
3,4,Athletico-PR >>,38,22,11,5,6,28,22,6,57,NaN
4,5,Flamengo >>,37,22,11,4,7,32,19,13,56,NaN
5,6,Atlético-MG >>,35,22,9,8,5,30,26,4,53,Subiu
6,7,Internacional >>,33,21,8,9,4,30,23,7,52,Desceu
7,8,Bragantino >>,30,22,8,6,8,32,26,6,45,NaN
8,9,Santos >>,30,21,7,9,5,26,19,7,47,NaN
9,10,São Paulo >>,29,22,6,11,5,29,27,2,43,Subiu
10,11,América-MG >>,27,21,8,3,10,17,23,-6,42,Desceu
11,12,Botafogo >>,26,22,7,5,10,20,26,-6,39,NaN
12,13,Goiás >>,26,22,6,8,8,23,29,-6,39,NaN
13,14,Ceará >>,25,22,5,10,7,22,23,-1,37,NaN
14,15,Fortaleza >>,24,22,6,6,10,20,23,-3,36,Subiu
15,16,Cuiabá >>,23,22,6,5,11,15,22,-7,34,Subiu
16,17,Avaí >>,23,22,6,5,11,23,35,-12,34,Desceu
17,18,Coritiba >>,22,22,6,4,12,23,34,-11,33,Desceu
18,19,Atlético Goianiense >>,21,22,5,6,11,21,33,-12,31,NaN
19,20,Juventude >>,16,22,3,7,12,16,35,-19,24,NaN

In [68]:
#Substituindo valores NaN por "Manteve", pois significa que o time manteve a posição em  relação a rodada passada
df2["Movimentacao"].fillna("Manteve", inplace=True)
df2

,Times,Times.2,P,J,V,E,D,GP,GC,SG,%,Movimentacao
0,1,Palmeiras >>,48,22,14,6,2,37,14,23,72,Manteve
1,2,Corinthians >>,39,22,11,6,5,26,21,5,59,Manteve
2,3,Fluminense >>,38,21,11,5,5,32,22,10,60,Manteve
3,4,Athletico-PR >>,38,22,11,5,6,28,22,6,57,Manteve
4,5,Flamengo >>,37,22,11,4,7,32,19,13,56,Manteve
5,6,Atlético-MG >>,35,22,9,8,5,30,26,4,53,Subiu
6,7,Internacional >>,33,21,8,9,4,30,23,7,52,Desceu
7,8,Bragantino >>,30,22,8,6,8,32,26,6,45,Manteve
8,9,Santos >>,30,21,7,9,5,26,19,7,47,Manteve
9,10,São Paulo >>,29,22,6,11,5,29,27,2,43,Subiu
10,11,América-MG >>,27,21,8,3,10,17,23,-6,42,Desceu
11,12,Botafogo >>,26,22,7,5,10,20,26,-6,39,Manteve
12,13,Goiás >>,26,22,6,8,8,23,29,-6,39,Manteve
13,14,Ceará >>,25,22,5,10,7,22,23,-1,37,Manteve
14,15,Fortaleza >>,24,22,6,6,10,20,23,-3,36,Subiu
15,16,Cuiabá >>,23,22,6,5,11,15,22,-7,34,Subiu
16,17,Avaí >>,23,22,6,5,11,23,35,-12,34,Desceu
17,18,Coritiba >>,22,22,6,4,12,23,34,-11,33,Desceu
18,19,Atlético Goianiense >>,21,22,5,6,11,21,33,-12,31,Manteve
19,20,Juventude >>,16,22,3,7,12,16,35,-19,24,Manteve

In [69]:
# Renomeando colunas
df2.rename(columns={'Times':'Colocação','Times.2':'Clube'},inplace=True)
print(df2.columns)

Index(['Colocação', 'Clube', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG', '%',
       'Movimentacao'],
      dtype='object')

In [70]:
df2

,Colocação,Clube,P,J,V,E,D,GP,GC,SG,%,Movimentacao
0,1,Palmeiras >>,48,22,14,6,2,37,14,23,72,Manteve
1,2,Corinthians >>,39,22,11,6,5,26,21,5,59,Manteve
2,3,Fluminense >>,38,21,11,5,5,32,22,10,60,Manteve
3,4,Athletico-PR >>,38,22,11,5,6,28,22,6,57,Manteve
4,5,Flamengo >>,37,22,11,4,7,32,19,13,56,Manteve
5,6,Atlético-MG >>,35,22,9,8,5,30,26,4,53,Subiu
6,7,Internacional >>,33,21,8,9,4,30,23,7,52,Desceu
7,8,Bragantino >>,30,22,8,6,8,32,26,6,45,Manteve
8,9,Santos >>,30,21,7,9,5,26,19,7,47,Manteve
9,10,São Paulo >>,29,22,6,11,5,29,27,2,43,Subiu
10,11,América-MG >>,27,21,8,3,10,17,23,-6,42,Desceu
11,12,Botafogo >>,26,22,7,5,10,20,26,-6,39,Manteve
12,13,Goiás >>,26,22,6,8,8,23,29,-6,39,Manteve
13,14,Ceará >>,25,22,5,10,7,22,23,-1,37,Manteve
14,15,Fortaleza >>,24,22,6,6,10,20,23,-3,36,Subiu
15,16,Cuiabá >>,23,22,6,5,11,15,22,-7,34,Subiu
16,17,Avaí >>,23,22,6,5,11,23,35,-12,34,Desceu
17,18,Coritiba >>,22,22,6,4,12,23,34,-11,33,Desceu
18,19,Atlético Goianiense >>,21,22,5,6,11,21,33,-12,31,Manteve
19,20,Juventude >>,16,22,3,7,12,16,35,-19,24,Manteve

In [71]:
# retirar o ">>" nos nomes dos times
df2['Clube'] = df2['Clube'].str[:-2]

In [72]:
df2

,Colocação,Clube,P,J,V,E,D,GP,GC,SG,%,Movimentacao
0,1,Palmeiras,48,22,14,6,2,37,14,23,72,Manteve
1,2,Corinthians,39,22,11,6,5,26,21,5,59,Manteve
2,3,Fluminense,38,21,11,5,5,32,22,10,60,Manteve
3,4,Athletico-PR,38,22,11,5,6,28,22,6,57,Manteve
4,5,Flamengo,37,22,11,4,7,32,19,13,56,Manteve
5,6,Atlético-MG,35,22,9,8,5,30,26,4,53,Subiu
6,7,Internacional,33,21,8,9,4,30,23,7,52,Desceu
7,8,Bragantino,30,22,8,6,8,32,26,6,45,Manteve
8,9,Santos,30,21,7,9,5,26,19,7,47,Manteve
9,10,São Paulo,29,22,6,11,5,29,27,2,43,Subiu
10,11,América-MG,27,21,8,3,10,17,23,-6,42,Desceu
11,12,Botafogo,26,22,7,5,10,20,26,-6,39,Manteve
12,13,Goiás,26,22,6,8,8,23,29,-6,39,Manteve
13,14,Ceará,25,22,5,10,7,22,23,-1,37,Manteve
14,15,Fortaleza,24,22,6,6,10,20,23,-3,36,Subiu
15,16,Cuiabá,23,22,6,5,11,15,22,-7,34,Subiu
16,17,Avaí,23,22,6,5,11,23,35,-12,34,Desceu
17,18,Coritiba,22,22,6,4,12,23,34,-11,33,Desceu
18,19,Atlético Goianiense,21,22,5,6,11,21,33,-12,31,Manteve
19,20,Juventude,16,22,3,7,12,16,35,-19,24,Manteve

In [73]:
# Obtendo número de gols por jogo
df2["Gols por jogo"] = (df2["GP"]/df2["J"])

# Obtendo número de gols tomados por jogo
df2["Gols tomados por jogo"] = (df2["GC"]/df2["J"])

# Obtendo % de vitórias
df2["% de vitórias"] = (df2["V"]/df2["J"]) *100

# Obtendo % de empates
df2["% de empates"] = (df2["E"]/df2["J"]) *100

# Obtendo % de derrotas
df2["% de derrotas"] = (df2["D"]/df2["J"]) *100

In [74]:
df2

,Colocação,Clube,P,J,V,E,D,GP,GC,SG,%,Movimentacao,Gols por jogo,Gols tomados por jogo,% de vitórias,% de empates,% de derrotas
0,1,Palmeiras,48,22,14,6,2,37,14,23,72,Manteve,1.681818,0.636364,63.636364,27.272727,9.090909
1,2,Corinthians,39,22,11,6,5,26,21,5,59,Manteve,1.181818,0.954545,50.000000,27.272727,22.727273
2,3,Fluminense,38,21,11,5,5,32,22,10,60,Manteve,1.523810,1.047619,52.380952,23.809524,23.809524
3,4,Athletico-PR,38,22,11,5,6,28,22,6,57,Manteve,1.272727,1.000000,50.000000,22.727273,27.272727
4,5,Flamengo,37,22,11,4,7,32,19,13,56,Manteve,1.454545,0.863636,50.000000,18.181818,31.818182
5,6,Atlético-MG,35,22,9,8,5,30,26,4,53,Subiu,1.363636,1.181818,40.909091,36.363636,22.727273
6,7,Internacional,33,21,8,9,4,30,23,7,52,Desceu,1.428571,1.095238,38.095238,42.857143,19.047619
7,8,Bragantino,30,22,8,6,8,32,26,6,45,Manteve,1.454545,1.181818,36.363636,27.272727,36.363636
8,9,Santos,30,21,7,9,5,26,19,7,47,Manteve,1.238095,0.904762,33.333333,42.857143,23.809524
9,10,São Paulo,29,22,6,11,5,29,27,2,43,Subiu,1.318182,1.227273,27.272727,50.000000,22.727273
10,11,América-MG,27,21,8,3,10,17,23,-6,42,Desceu,0.809524,1.095238,38.095238,14.285714,47.619048
11,12,Botafogo,26,22,7,5,10,20,26,-6,39,Manteve,0.909091,1.181818,31.818182,22.727273,45.454545
12,13,Goiás,26,22,6,8,8,23,29,-6,39,Manteve,1.045455,1.318182,27.272727,36.363636,36.363636
13,14,Ceará,25,22,5,10,7,22,23,-1,37,Manteve,1.000000,1.045455,22.727273,45.454545,31.818182
14,15,Fortaleza,24,22,6,6,10,20,23,-3,36,Subiu,0.909091,1.045455,27.272727,27.272727,45.454545
15,16,Cuiabá,23,22,6,5,11,15,22,-7,34,Subiu,0.681818,1.000000,27.272727,22.727273,50.000000
16,17,Avaí,23,22,6,5,11,23,35,-12,34,Desceu,1.045455,1.590909,27.272727,22.727273,50.000000
17,18,Coritiba,22,22,6,4,12,23,34,-11,33,Desceu,1.045455,1.545455,27.272727,18.181818,54.545455
18,19,Atlético Goianiense,21,22,5,6,11,21,33,-12,31,Manteve,0.954545,1.500000,22.727273,27.272727,50.000000
19,20,Juventude,16,22,3,7,12,16,35,-19,24,Manteve,0.727273,1.590909,13.636364,31.818182,54.545455

In [76]:
# Salvando tabela para excel e removendo coluna index

df2.to_excel('tabelabrasileirao.xlsx', index=False)